DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=personal-finance
GEMINI_API_KEY=your-gemini-api-key
JWT_SECRET = your-secret-key
JWT_REFRESH_SECRET=your-refresh-secret-key-here 
